html, body, div, ul, li {
	margin: 0px 0px;
	padding: 0px 0px;
}

html {
height: 100%;
width: 100%;
overflow-y: auto;
}

body {
height: 100%;
width: 100%;
background-color: #CCCCCC;
}

#all {
	height: 300px;
	width: 300px;
	background-color: #00FF00;
	left: 100px;
}